h1{
  margin: 20px;
  font-family: 'Cormorant';
}
.text-orange{
  color: orange;
}

h3{
  margin: 20px;
  font-family: "Poppins", sans-serif;
}


p{
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: black;
  font-size: 16px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.items-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 20px;
}

.item-image {
  width: 20px;
  height: 20px;
}

.item-text {
  font-size: 18px;
  margin: 0;
  margin-left: 10px;
  margin-bottom: auto;
}



.button{
  color: white;
  background-color:orange;
  width: 200px;
  height: 30px;
}


.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.wine-image{
  height: 500px;
  width: 500px;
  margin: auto;
}

.boton-list{
  width: fit-content;
  margin-left: 60px;
  padding: 10px 40px 10px 40px;
  background-color: #FF8126;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}

.boton-list:focus{
  outline: none;
}

.boton-list:hover{
  transform: scale(1.15);
}


