@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

h1 {
  font-family: "Cormorant";
  font-size: 40px;
}

h3 {
  font-family: "Poppins";
  font-size: 16px;
}

p{
  font-family: "Cormorant";
  color: black;
  font-size: 16px;
}

.conteiner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.conteiner-data{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}



.conteiner-data-images{
  display: flex;
  flex-direction: column;
}




.images-datawine-one{
  display: flex;
  align-items: center;
}
.partone-data{
  padding-left: 15px;
}



.images-datawine-two{
  display: flex;
  align-items: center;
}
.partwo-data{
  padding-left: 15px;
}



.images-datawine-three{
  display: flex;
  align-items: center;
}
.parthree-data{
  padding-left: 15px;
}


.images-datawine-four{
  display: flex;
  align-items: center;
}
.partfour-data{
  padding-left: 15px;
}

.images-datawine-five{
  display: flex;
  align-items: center;
}
.partfive-data{
  padding-left: 15px;
}


.images-datawine-six{
  display: flex;
  align-items: center;
}
.partsix-data{
  padding-left: 15px;
}


.images-datawine-seven{
  display: flex;
  align-items: center;
}
.partseven-data{
  padding-left: 15px;
}

.images-datawine-eight{
  display: flex;
  align-items: center;
}
.parteight-data{
  padding-left: 15px;
}

.images-datawine-nine{
  display: flex;
  align-items: center;
}
.partnine-data{
  padding-left: 15px;
}

.images-datawine-ten{
  display: flex;
  align-items: center;
}
.parten-data{
  padding-left: 15px;
}

.conteiner-img{
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
}


